.main{
    background: linear-gradient(to right, rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)),  url(../images/field.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -11vh;
    z-index: 0;
}
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about{
    padding: 50px 10px;
}
.services{
    padding: 50px 10px;
}
.header{
    position:sticky;
}
.button{
    display: flex;
    flex-direction: column;
    margin: 50px 0;
}
.about{
    background: var(--gold);
}
.aboutbtn{
    margin: 50px 0;
    border: 2px solid var(--white);
    padding: 10px;
    color: var(--white);
    font-weight: 700;
    border-radius: 5px;
}
.one, .two{
    width: 150px;
    margin: 10px 0;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
}
.one{
    color: var(--white);
    background: var(--gold);
}
.two{
    border: 2px solid var(--gold);
    color: var(--gold);
}
.one:hover{
    border:2px solid var(--white);
    background: transparent;
}
.two:hover{
    background: var(--gold);
    color: var(--white);
}
.service-info{
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}
.services-wrapper{
    display: flex;
    gap: 10px;
    width: 90vw;
    max-width: 1400px;
    margin:0 auto;
    overflow-x: scroll;
    margin-top: 20px;
}
.services-wrapper > *{
    flex-basis: 100%;
}
.service-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background: var(--black);
    color: var(--gold);
    text-align: center;
}
.card-main{
    padding: 20px;
}
.card-details{
    width: 250px;
}
.link{
    margin: 50px 0;
    background: var(--gold);
    padding: 10px;
    color: var(--white);
    font-weight: 700;
    border-radius: 5px;
}
.link:hover{
    background: transparent;
    border: 2px solid var(--gold);
    color: var(--gold);
}
.aboutbtn:hover{
    background: var(--white);
    color: var(--gold);
}
.contact{
    padding: 50px 10px;
}
.contact{
    background: linear-gradient(to right, rgba(0, 0, 0, .95), rgba(0, 0, 0, .95)),  url(../images/map.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--white);
    padding-bottom: 150px;
}
form{
    background:var(--white);
    color:var(--black);
    padding: 40px 10px;
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
form input{
    border: 1px solid var(--black);
    width: 100%;
    margin: 10px 0;
    height: 50px;
}
.submit{
    background: var(--gold);
    color: var(--white);
    font-weight: bold;
    border: none !important;
    cursor: pointer;
}
.submit:hover{
    box-shadow: 5px 5px 10px #ccc;
}
.contact-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.phone{
    background: var(--gold);
    padding: 40px 10px;
    border-radius: 5px;
    z-index: 20;
    width: 250px;
}
.contact-info{
    width:80%;
    margin: -100px auto 0 auto;
}
.map{
    margin-top: -30px;
    height: 70vh;
}
.mapiframe{
    width: 100%;
    height:70vh;
}

@media only screen and (min-width: 600px) {
    .contact-wrapper{
        flex-direction: row;
    }
    .phone{
        width: 300px;
    }
    .button{
        flex-direction: row;
        gap: 50px;
    }
    .card-details{
        width: 350px;
    }
    .map{
        height: 50vh;
    }
    .mapiframe{
        width: 100%;
        height:50vh;
    }
    form{
        padding: 40px;
    }
}
@media only screen and (min-width: 900px) {
    .one, .two{
        width: 200px;
    }
}
@media only screen and (min-width: 1200px) {
    .one, .two{
        width: 200px;
    }
    .services-wrapper{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        overflow: hidden;
    }
}